.announcement {
    background-color: coral;
    font-size: 18px;
    position: sticky;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    top: 2px;
    right: 0px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
}

.carousel-inner {
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-size: 20px;
}

#myCarousel img {
    height: 500px;
    width: 500px;
}

.container {
    background-color: seashell;
}

.kd {
    color: black;
}

#ig {
    height: 575px;
    width: 400px;
}

#myCarouse img {
    height: 500px;
    width: 500px;
}

.CampusLife_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
    height: 500px;
    width: 500px;
}

.ii {
    width: 100%;
}

.ii hr {
    width: 230px;
}

.CampusLife_mainDiv h5,
.CampusLife_mainDiv p {
    margin-left: 20px;
}

.ia {
    width: 100%;
    height: 700px;
}

.ib {
    width: 100%;
    height: 500px;
}

.ib img {
    height: 350px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.down {
    float: right;
}

.movie_head i {
    float: right;
}
.new_li {
    margin-top: 13px;
}
#new {
    height: 500px;
    width: 1100px;
}
.member {
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
}
.member img{
    height: 400px;
    width: 330px;
}
.member {
    margin-bottom: 10px;
}
.modal-content {
    margin-top: 70px;
}